block content
	.container-fluid
		.starter-template
			h1 About Me
			p.lead
				| I graduated from National Taiwan University.
			p.lead
				| Major in Automatic Control group of Electrical Engineering. 


