block content
    .container-fluid
        .starter-template
            .about
                h1 About Me
                    h2 Experiences
                        h3 IEEE 1588 Based Time Synchronization Design for Mobile Systems, 2013 ~ 2014
                            p — Researcher, Synchronization Software Developer, iOS Application Developer
                        h3 online Dating Website Design, 2013
                            p — Front-End and Back-End Designer
                        h3 Harmonic Pulse Radar for Bee Searching,  2012 ~ 2013
                            p - Software and Hardware Developer
                    h2 Education
                        h3 National Taiwan University — Master of Electrical Engineering, June 2014
                            p — Relevant Coursework: Algorithms, Neural Network, Advance Signal Processing, Computer Networking, Operating System, Cyber-Physical System
                        h3 National Sun Yat-sen University — Bachelor of Electrical Engineering, June 2012
                            p — Relevant Coursework: Control Theory, Communication Theory, Embedded System
                            p — Activities: Basketball team, Guitar Club
                    h2 Skills
                        h3 - Speciality: 
                            p(display:inline) Internet Software, Web develop, Control Theory, Embedded System, Positioning System
                        h3 - Computer Skills: 
                            p(display:inline) C/C++, JavaScript, Scala, Linux, Mac OS
                        h3 - Language Skills: 
                            p(display:inline) Chinese, English
                    h2 Interests
                        h3
                            p Technology, Programing, Travel, Music, Sport
