block content
	.container-fluid
		.starter-template
			.about
				h1 About Me
					h2 Experiences
					h2 Education
						h3 National Taiwan University — Master of Electrical Engineering, June 2014
							p — Relevant Coursework: Algorithms, Neural Network, Advance Signal Processing, Computer Networking, Operating System, Cyber-Physical System
						h3 National Sun Yat-sen University — Bachelor of Electrical Engineering, June 2012
							p — Relevant Coursework: Control Theory, Communication Theory, Embedded System
							p — Activities: Basketball team, Guitar Club
					h2 Skills
					h2 Interests