block content
	.container-fluid
		.starter-template
			h1 Li Ching Chang
			p.lead
				| A Software Engineer From Taiwan.
				br
				| Familiar with Web and Embedded System Develop.
		img.img-circle.img-thumbnail(ng-src = "/images/IMG_1474.JPG")
