block content
	.container-fluid
		.starter-template
			h1 Message Board
			p.lead
				| Contact Me by Send Message from here.
			div.message-board
				div.canvas
				textarea.form-control(rows="3")


