/* app css stylesheet */
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.main-container { 
  max-width: 1200px;
  margin: 0 auto; 
  background: white;
  box-shadow: 0 0 5px rgba(107, 110, 112, 0.4); 
}

/*  CSS resets 
--------------------------------------*/
p { margin: 0; }
ul { padding: 0; }
li { list-style: none; }
a { text-decoration: none; }

/*   Universal styles
--------------------------------------*/

* { font-family: 'Open Sans', sans-serif; }
body { background-color: #eee; }

h1 {
  font-size: 30px;
  line-height: 1.5;
  text-shadow: 1px 1px 1px rgba(167, 221, 255, 0.5);
  margin: 0 0 10px 0;
}

h2 { color: #909090; }

h1, h2, h3 { font-weight: 300; }

h2, h3, footer i { font-size: 18px; }

p, form, ul { font-size: 14px; }


.fa { margin: 6px; }
.left { float: left; }
.right { float: right; }
.center-text { text-align: center; }

/* About styles
-----------------------------------------*/
.about {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  text-align: left;
}
.about h1 {
  text-align: center;
}
/*.about h2 {
  text-align: center;
}*/
.about p {
  margin-left: 20px;
}
.about img {
  width:100%; 
  height:100%; 
}


/*  Project styles
-----------------------------------------*/
#projects-wall {
  margin:  0 auto;
  display:-webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#projects-wall img { 
  width: 250px; 
  height: 250px; 
}

.project-block {
  display: inline-block;
  width: 250px;
  height: 250px;
  position: relative;
  margin: 15px 10px;
}

.project-block img {
  width:100%;
  height:100%;
  position:absolute;
  display:block;
  box-shadow: 5px 10px 10px -5px rgba(0,0,0,0.5);
}
.project-block .detail {
  display:block;
  width:100%;
  height:100%;  
  position:absolute;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 5px 10px 10px -5px rgba(0,0,0,0.5);
}
.project-block .detail h3 {
  padding: 15px 10px 0 10px;
}
.project-block .detail p {
  text-align: justify;
  padding: 10px;
  line-height: 1.8em;
}
.project-item { 
  display:block; 
  width:100%; 
  height:100%; 
}
.project-item .btn {
  width: 80px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.44);
  -ms-box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.44);
  box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.44);
}
.project-item .btn:hover { background-color: #ddd; }

span.btn {
  display: block;
  font-size: 12px;
  line-height: 30px;
  margin: 0 auto;
  text-transform: uppercase;
  border: none; 
  cursor: pointer; 
}

/*   CSS3 flip
  http://stackoverflow.com/questions/13474210/css3-3d-flip-animation-ie10-transform-origin-preserve-3d-workaround
  http://www.cssplay.co.uk/menu/css3-3d-card.html
  http://cssdeck.com/labs/gddxuzki
-------------------------------------------------------------------------------------*/
.project-block .project-item img,  .project-block .project-item .detail {
  -webkit-transition:0.5s ease-in-out;
  -moz-transition:0.5s ease-in-out;
  transition:0.5s ease-in-out;
}
.project-block .detail {
  -moz-transform:perspective(800px) rotateY(180deg);
  -webkit-transform:perspective(800px) rotateY(180deg);
  transform:perspective(800px) rotateY(180deg);
}
.project-block img {
  -moz-transform:perspective(800px) rotateY(0deg);
  -webkit-transform:perspective(800px) rotateY(0deg);
  transform:perspective(800px) rotateY(0deg);
}
.project-item:hover > .detail {
  -moz-transform:perspective(800px) rotateY(0);
  -webkit-transform:perspective(800px) rotateY(0);
  transform:perspective(800px) rotateY(0);  
}
.project-item:hover > img {
  -webkit-transform:perspective(800px) rotateY(-179.9deg);
  -moz-transform:perspective(800px) rotateY(-179.9deg);
  transform:perspective(800px) rotateY(-179.9deg);  
}
.project-block img, .project-block .detail {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.project-intro {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  text-align: left;
}
.project-intro h1 {
  text-align: center;
}
.project-intro p {
  margin-left: 20px;
}
.project-intro img {
  width:100%; 
  height:100%; 
}

.message-board {
/*  width: 250px; 
  height: 250px; */
}
.message-board .canvas {
  height: 200px;
}
#canvas {
    height: 300px;
    overflow: auto;
}
