block content
	.container-fluid
		.starter-template
			.project-intro
				h1 Bee Searching Project
				h2 1. Motivation
				p Because of some phenomenon, we need to find out the reason that....
				h2 2. Method
				p Our method is...
				h2 3. Experiment
				p Our experiment is designed as....
				img(ng-src = "/images/beeRadar.png")

